/*font-family: 'Indie Flower', cursive;*/
/*font-family: 'Quicksand', sans-serif;*/

#contenidos{
	width: 1000px; /*ancho*/
	height: auto; /*alto*/
	margin: auto; /*margen*/
	position: relative; /*posision*/
	
}

/*etiquetas*/
body{

	background-image: url(../img/cielo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


h1{ font-family: 'Quicksand', sans-serif;
margin-left: 10px;
font-size:60px;
text-align: center;
}
h2{ font-family: 'Indie Flower', cursive;
margin-left: 10px;
font-size:30px;
text-align: center;
}

h3{ font-family: 'Indie Flower', cursive;
margin-left: 10 px;
font-size:15 px;
text-align: center;
}
header{
	width: 1000px;
	height: 120 px;
	background: rgba(255, 255, 255, 40,5);
}

nav{
	width: 1000px;
	height: 80px;
	background: rgb(153, 153, 255);
	border-radius: 10px;

}

ul{
	margin: auto;
	page-break-after: 4px;
}

li{
	width: 160px;
	float: left;
	list-style: none;
	background: rgb(230, 230, 230);
	margin: 10px;
	border-radius: 30px;
	box-shadow: 0 0 10px white inset;
}

/*Calses*/

.ancho_menu_home{width: 900px;} /*para la pagina principal*/
.ancho_menu_paginas{width: 970px;} /**/

.menu:link{color: black; text-decoration: none;}
.menu:visited{color: black; text-decoration: none;}
.menu:hover{color: black; text-decoration: none; text-shadow: 0 0 50 px orange;}
.menu:active{ color: orange; text-decoration: none;}







